.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
	border-bottom: 1px solid #F2F3F4;
}

.logo {
	font-size: 12px;
}

.navbar div {
	display: flex;
	gap: 18px;
	transition: .4s all;
}


.navbar a:hover {
	color: rgba(118, 74, 188, 0.8);
}

a {
	text-decoration: none;
	color: #764ABC;
}

.hamburger span {
	display: block;
	background-color: #764ABC;
	width: 28px;
	height: 4px;
	margin-bottom: 4px;
	transition: .4s all;
}

.hamburger {
	background-color: transparent;
	border: none;
	display: none;
}

.hamburger.hamburgerActive span:nth-child(2) {
	opacity: 0;
}

.hamburger.hamburgerActive span:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

.hamburger.hamburgerActive span:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 720px) {
	.header {
		padding: 20px 14px;
	}

	.navbar {
		display: none;
	}

	.navbar.navbarActive {
		background-color: #FFF;
		display: block;
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		transition: .4s all;
	}

	.navbar div {
		margin-top: 80px;
		flex-direction: column;
		align-items: center;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		z-index: 100;
	}

	.hamburger.hamburgerActive {
		position: fixed;
		right: 0;
		margin-right: 14px;
	}
}

@media (max-width: 480px) {
	.logo {
		font-size: 10px;
	}
}