.events {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	flex-wrap: wrap;
	width: 1100px;
	max-width: 90%;
	margin: 50px auto;
}

@media (max-width: 1100px) {
	.events {
		width: 700px;
	}
}

@media (max-width: 745px) {
	.events {
		max-width: 90%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}