.home {
	text-align: center;
	margin-top: 70px;
}

.title {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 48px;
}

.home p {
	font-size: 20px;
	margin: 18px 0;
}

@media (max-width: 480px) {
	.title {
		font-size: 36px;
	}

	.home p {
		font-size: 16px;
	}

	.home a {
		font-size: 14px;
	}
}