.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login {
	width: 340px;
	max-width: 85%;
	margin-top: 60px;
}

.formField {
	margin-bottom: 20px;
}

.formField label span {
	display: block;
	margin-bottom: 4px;
}

input {
	color: #222222;
	border-radius: 5px;
	border: 1px solid lightgray;
	outline: none;
	height: 34px;
	width: 100%;
	padding: 6px;
	font-size: 16px;
}

input:focus {
	box-shadow: 0 0 7px #764ABC;
}

.buttons {
    display: flex;
}

.login button {
	border: 1px solid #764ABC;
	border-radius: 5px;
	background-color: #764ABC;
	color: #FFF;
	font-weight: 700;
	padding: 10px 20px;
	cursor: pointer;
}

.login button:hover {
	background-color: #FFF;
	color: #764ABC;
}

.formContainer p {
	font-size: 14px;
	margin-top: 20px;
}

.formContainer p a {
	margin-left: 6px;
}

.login button.loginGoogle {
    margin-left: 10px;
    background-color: #4285F4;
    border-color: #4285F4;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 14px;
}

.login button.loginGoogle:hover {
    background-color: #FFF;
    color: #4285F4;
}

@media (max-width: 480px) {
    .buttons {
        flex-direction: column;
        gap: 8px;
    }

    .login button {
        display: block;
        width: 100%;
    }

    .login button.loginGoogle {
        margin-left: 0;
        align-items: center;
        justify-content: center;
    }
}